.main {
    display: flex;
}

.nav {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    width: 100%;
}

.logo {
    color: var(--color-white);
    font-family: var(--font-sen-semibold);
    font-size: 1.8rem;
    font-weight: 500;
    text-decoration: none;
}