@import 'normalize.css';

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --color-darker-gray: #1d1d1f;
  --color-dark-gray: #313133;
  --color-gray: #3d3d3f;
  --color-light-gray: #4c4b50;
  --color-lighter-gray: #a1a1a1;
  --color-lightest-gray: #c8c8c8;
  --color-white: #efefef;

  --drop-shadow-sm: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05));
  --drop-shadow-md: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
  --drop-shadow-lg: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));

  font-size: 16px;
}

body {
  background-color: var(--color-darker-gray);
  color: var(--color-white);
  font-family: var(--font-roboto);
}

h1, h2, h3 {
  font-family: var(--font-oswald-medium);
  font-weight: 500;
  margin: 0;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: var(--color-white);
  transition: color 0.1s ease-in-out;
}

a:hover {
  color: var(--color-lightest-gray);
}

button {
  cursor: pointer;
  filter: var(--drop-shadow-sm);
}

/* Utility */
.drop-shadow-sm {
  filter: var(--drop-shadow-sm);
}

.drop-shadow-md {
  filter: var(--drop-shadow-md);
}

.drop-shadow-lg {
  filter: var(--drop-shadow-lg);
}