.mantine-button {
    border-radius: 8px;
    font-family: var(--font-roboto-medium);
    font-weight: 500;
  }
  
  .mantine-button:active {
    filter: none;
  }
  
  .mantine-input {
    background-color: var(--color-dark-gray);
    border: none;
    border-radius: 8px;
    box-shadow: inset -1px -1px 1px rgba(255, 255, 255, .1), inset 1px 1px 1px rgba(0, 0, 0, 0.1);
    color: var(--color-white);
  }

  .mantine-input:focus {
    outline: 2px solid var(--mantine-color-primary-filled);
    outline-offset: -2px;
  }

  .mantine-input::placeholder {
    color: var(--color-lighter-gray);
  }
  
  .mantine-input-section > svg {
    height: 1.3rem;
    color: var(--color-lighter-gray);
  }

  .mantine-input-label {
    font-size: 0.9rem;
  }

  .mantine-title {
    font-family: var(--font-sen-semibold);
    font-weight: 500;
  }